/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
.board{
  width:900px;
  height: 620px;
  background-image:  linear-gradient(green,rgb(96, 229, 96));
}
.carta1{
    width:200px;
    height:280.8px;
    position:absolute;
    top:20px;
    left:20px;
    background-image: url(/imagens/fundocarta.png);
}
.carta2{
    width:200px;
    height:280.8px;
    position:absolute;
    top:20px;
    left:225px;
    background-image: url(/imagens/fundocarta.png);
}
.nome1{
    position: absolute;
    top:14px;
    left:22px;
}
.imagem1{
    width:162px;
    height:120px;
    background-image: url(/imagens/carta1.png);
}